.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px 50px;
  grid-template-areas:
    "One One Two Two"
    "One One Two Two"
    "One One Two Two";
  padding-left: 200px;
}
.One { 
  grid-area: One;
 }
 
.Two { 
  grid-area: Two;
  padding-left: 40px; 
}

.Title {
  background-color: lightgray;
  color: green;
  padding: 30px;
  text-shadow: -2px -1px 0 black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  border-top: solid;
  border-bottom: solid;
}

.Title2 {
  text-shadow: -2px -1px 0 black;
}

@keyframes nominate {
  0%   {color: red;}
  25%  {color: maroon;}
  50%  {color: red;}
  75%  {color: maroon;}
  100% {color: red;}
}

.anim {
  animation-name: nominate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.border {
  border: solid black;
  background-color: aliceblue;
  padding: 20px;
}
